<div class="highlights" id="highlights">
    <div class="container">
        <h2 class="highlights__heading">A few highlights</h2>

        <div class="box">
            <div class="highlights__item highlights-item">
                <h3 class="highlights-item__heading">1 000+</h3>
                <p class="highlights-item__description"> happy clients with new bikes</p>
                <p class="highlights-item__paragraph">We've helped our customers chose the best bikes</p>
            </div>

            <div class="highlights__item highlights-item">
                <h3 class="highlights-item__heading">15+ years </h3>
                <p class="highlights-item__description">working on the market</p>
                <p class="highlights-item__paragraph">Our shop has been working since 2009</p>
            </div>

            <div class="highlights__item highlights-item">
                <h3 class="highlights-item__heading">5 000+ </h3>
                <p class="highlights-item__description">bikes sold</p>
                <p class="highlights-item__paragraph">Only high quality goods</p>
            </div>
        </div>
    </div>
</div>