<div class="container">
  <div class="heading">
    <h1 class="heading__text">Confirm your choice</h1>
  </div>
  <div class="box">
    <form [formGroup]="productNamesForm" action="">
      <mat-form-field [style]="{ width: '500px' }" appearance="outline">
        <mat-label>Catalog</mat-label>
        <mat-select formControlName="productNames" multiple="true">
          <mat-select-trigger>{{ productNames }}</mat-select-trigger>
          <mat-option *ngFor="let item of (items$ | async)" [value]="item.name">
            <p>{{ item.name }}</p>
            <p>{{ item.description | limitCharacters : 60 }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <a (click)="doStepChange('next')" class="button"
    >Next</a
    >
  </div>
</div>
