@import "../../../../../assets/styles/index";

.box {
  @extend %align-center;
  flex-direction: column;
  padding: 20px;
}

mat-option {
  padding: 20px;
}
.heading {
  @extend %main-heading;
}

.button {
  @include button(100px, 30px);
}
