@import "../../../../../assets/styles/index";

.hero {
  min-height: 85vh;
  padding: 60px 0;

  &__heading {
    max-width: 35vw;
    margin-bottom: 20px;
    position: relative;
    animation: appearText 1.5s;

    .highlight {
      color: $clr-secondary;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    animation: appearText 1.5s;
  }

  &__button-container {
    display: flex;
    gap: 20px;
    animation: appearText 1.5s;
  }

  &__button {
    @include button(100px, 30px);
  }

  &__button_tranperent {
    background-color: transparent;
  }

  &__img {
    max-width: 500px;
    animation: appearText 1.5s;
  }
}

@include tablet {
  .hero {
    min-height: 60vh;

    &__img {
      max-width: 300px;
    }
  }
}

@include mobile {
  .hero {
    .box {
      flex-direction: column;
      row-gap: 20px;
    }

    &__heading {
      margin: 0 auto 20px;
      max-width: 70vw;
    }

    &__button-container {
      flex-direction: column;
    }

    &__button {
      @include button(100%, 30px);
    }
  }
}
