<header class="hero">
  <div class="container">
    <div class="box">
      <div class="hero__text">
        <h1 class="hero__heading">
          Find the best bike for you with
          <span class="highlight">Cycle Cellar</span>
        </h1>
        <p class="hero__paragraph">
          More than 1000 clients trust us and our products
        </p>

        <div class="hero__button-container">
          <div [routerLink]="'/shop'" class="hero__button">Buy Now</div>
          <div
            [routerLink]="'/about'"
            class="hero__button hero__button_tranperent"
          >
            Explore
          </div>
        </div>
      </div>

      <img
        alt="Bike"
        class="hero__img"
        loading="lazy"
        src="/assets/img/bike.png"
      />
    </div>
  </div>
</header>
