<div class="container">
    <div class="timeline" id="history">
        <div class="timeline__container ">
            <p class="timeline__date">2009</p>

            <div class="timeline__text">
                <h3 class="timeline__heading">First client</h3>
                <p class="timeline__description">That year we sold the first bike</p>
            </div>

        </div>
        <div class="timeline__container ">
            <p class="timeline__date">2013</p>

            <div class="timeline__text">
                <h3 class="timeline__heading">Offline store</h3>
                <p class="timeline__description">We've opened the store to provide better experince for customers</p>
            </div>

        </div>
        <div class="timeline__container ">
            <p class="timeline__date">2017</p>
            <div class="timeline__text">

                <h3 class="timeline__heading">New brands</h3>
                <p class="timeline__description">Stroke a deal with global brands such as Aquila to sell thier products
                </p>

            </div>
        </div>
        <div class="timeline__container">
            <p class="timeline__date">2021</p>

            <div class="timeline__text">
                <h3 class="timeline__heading">1 000 clients</h3>
                <p class="timeline__description">So many people had chosen our shop</p>
            </div>

        </div>

    </div>
</div>