<div class="form">
  <div class="container">
    <div class="box">

      <div class="form__text">
        <h2>Connect With Us We're always here to help you step up your style!</h2>
        <p>
          If you have any questions, feedback,
          or just want to talk , fill out the form below. Drop us your name, email, and message, and
          we'll
          make sure to get back to you as quickly as we can. Whether it's about our latest models, your
          order, your thoughts are valuable to us.
        </p>
      </div>

      <form action="" class="form__container" method="get">
        <div class="form__input">
          <label class="form__label" for="name">Name</label>
          <input [(ngModel)]="name" class="form__field" id="name" name="name" placeholder="Enter your name" type="text">
        </div>
        <div class="form__input">
          <label class="form__label" for="surname">Surname</label>
          <input [(ngModel)]="surname" class="form__field" id="surname" name="name" placeholder="Enter your name"
                 type="text">
        </div>
        <div class="form__input">
          <label class="form__label" for="email">Email address</label>
          <input [(ngModel)]="email" class="form__field" id="email" name="email" placeholder="Enter your email"
                 type="email">
        </div>
        <div class="form__input">
          <label class="form__label" for="description">Message</label>
          <textarea [(ngModel)]="description" class="form__field" cols="30" id="description"
                    name="descrition" placeholder="Enter your message here"
                    rows="5" type="text"></textarea>
        </div>

        <button (click)="onSubmit()" class="form__submit" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>
