<div class="products">
  <div class="container">
    <div class="box">
      <ng-template #loading>
        <div class="lds-dual-ring"></div>
      </ng-template>
      <div *ngIf="productsList; else loading" class="products__container">
        <ng-container *ngFor="let item of productsList">
          <div
            [class]="getDiscountClass(item.discount)"
            [routerLink]="['/products', item.id]"
            class="products__card"
          >
            <img
              [alt]="item.name"
              [src]="item.imgUrl"
              class="products__img"
              loading="lazy"
            />
            <div class="products__discount">
              {{ item.discount | percent }}
            </div>

            <div class="products__text">
              <div class="products__name">{{ item.name }}</div>
              <p class="products__description">
                {{ item.description | limitCharacters : "35" }}
              </p>

              <div class="products__price">
                <p class="products__price_current">
                  {{
                    priceWithDiscount(item) | currency : "EUR"
                  }}
                </p>
                <p class="products__price_initial">
                  {{ item.price | currency : "EUR" }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>

        <a [routerLink]="'/add-new-product'" class="add-product">
        </a>

      </div>
    </div>
  </div>
</div>
