$clr-primary: hsl(60, 100%, 54%);
$clr-secondary: hsl(298, 85%, 57%);
$clr-contrast: hsl(213, 38%, 71%);

$breakpoint_desktop: 1200px;
$breakpoint_laptop: 1024px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 576px;