<div class="container">
  <div class="heading">
    <div class="container">
      <h1 class="heading__text">Edit/Delete product</h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" *ngIf="this.product" action="" class="form">
    <app-details-form (formValuesChange)="onFormValuesChange($event)"
                      [product]="this.product"
                      class="form__details"></app-details-form>
    <app-price-form (formValuesChange)="onFormValuesChange($event)"
                    [product]="this.product" class="form__price"></app-price-form>
    <app-image-preview
      [imgUrl]="this.product.imgUrl"></app-image-preview>


    <div class="button-container button">
      <button class="button-submit" type="submit">Submit</button>
      <button (click)="deleteProduct()" class="button-delete">Delete Product</button>
    </div>
  </form>
</div>
