<div class="banner" id="banner">
    <div class="container">
        <div class="box">

            <h3 class="banner__heding">JOIN OUR INCREADIBLE COMUNITY</h3>

            <img class="banner__img" src="/assets/img/component.svg" alt="sneakers" loading="lazy">

            <div class="banner__text">
                <p class="banner__paragraph">Whatever your experience level and however you like to ride, we welcome you
                    to stop by our bike shop, meet the team, and see what we have to offer. </p>
                <div [routerLink]="'/Shop'" class="banner__button">Explore more</div>
            </div>
        </div>
    </div>
</div>