@import "../../../../../assets/styles/index";

.heading {
  @extend %main-heading;
}

.box {
  @extend %align-center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.address {
  &__form {
    @extend %align-center;
    flex-direction: column;
    gap: 20px;
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .button {
    @include button(100px, 30px);
    color: black;
    text-decoration: none;
  }
}

