<header>
    <nav class="navination">
        <div class="container">
            <div class="box">
                <img class="navigation__logo" src="/assets/img/logo.png" alt="logo">
                <ul class="navigation__list">
                    <li class="navigation__list__item"><a [routerLink]="'/Home'">Home</a></li>
                    <li class="navigation__list__item"><a [routerLink]="'/Shop'">Shop</a></li>
                    <li class="navigation__list__item"><a [routerLink]="'/About'">About</a></li>
                    <li class="navigation__list__item"><a [routerLink]="'/Contacts'">Contacts</a></li>
                </ul>
                <img class="navigation__cart" src="/assets/img/cart.png" alt="cart">
            </div>
        </div>
    </nav>
</header>