<header>
  <nav class="navination">
    <div class="container">
      <div class="box">
        <img alt="logo" class="navigation__logo" src="/assets/img/logo.png"/>
        <ul class="navigation__list">
          <li class="navigation__list__item">
            <a [routerLink]="'/home'">Home</a>
          </li>
          <li class="navigation__list__item">
            <a [routerLink]="'/shop'">Shop</a>
          </li>
          <li class="navigation__list__item">
            <a [routerLink]="'/about'">About</a>
          </li>
          <li class="navigation__list__item">
            <a [routerLink]="'/contacts'">Contacts</a>
          </li>
          <li class="navigation__list__item">
            <a [routerLink]="'/login'" class="navigation__login"
            >Login</a>
          </li>
        </ul>
        <a [routerLink]="'/cart'"
        ><img alt="cart" class="navigation__cart" src="/assets/img/cart.png"
        /> </a>
      </div>
    </div>
  </nav>
</header>
