<div class="newsletter" id="newsletter">
    <div class="container">
        <div class="box">
            <h2 class="newsletter__heading">newsletter</h2>
            <p class="newsletter__paragraph">Discover in preview all our new products, our latest actions and get 10$
                off
                your first order by subscribing to our newsletter!

            </p>

            <input class="newsletter__input" type="email" placeholder="Type your email address here">
            <button class="newsletter__button" type="submit">Subscribe</button>
        </div>
    </div>
</div>