<div class="cart">
  <div class="container">
    <div class="box">
      <div class="cart__products">
        <div class="cart__header">
          <h1 class="cart__heading">
            Cart <span class="cart__count">({{ items.length }} products)</span>
          </h1>
          <button (click)="clearCart()" class="cart__clear">Clear cart</button>
        </div>

        <div class="cart__subheader">
          <div>Product</div>
          <div class="cart__subheading cart__subheading_quantity">Count</div>
          <div class="cart__subheading cart__subheading_price">Price</div>
        </div>

        <div class="cart__product-container">
          <div *ngFor="let item of items" class="product">
            <img [src]="item.imgUrl" alt="" class="product__image"/>

            <div class="product__description">
              <p class="product__name">{{ item.name }}</p>
              <p *ngIf="item.size" class="product__size">Size: {{ item.size }}</p>
              <p *ngIf="item.color" class="product__color">Color: {{ item.color }}</p>
            </div>

            <div class="product__quantity-selector">
              <button
                (click)="decreaseQuantity(item)"
                class="product__quantity-decrease"
              >
                -
              </button>
              <div class="product__quantity">{{ item.quantity }}</div>
              <button
                (click)="increaseQuantity(item)"
                class="product__quantity-increase"
              >
                +
              </button>
            </div>

            <p class="product__price">
              {{
                (item.price - item.price * item.discount) * item.quantity
                  | currency : "EUR"
              }}
            </p>

            <button
              (click)="deleteFromCart(item)"
              class="product__remove"
            ></button>
          </div>
        </div>
      </div>

      <div class="cart__summary">
        <div class="cart__price cart__price_subtotal">
          <div class="cart__price-description">Subtotal:</div>
          <div class="cart__price-value"> {{ totalPrice | currency : "EUR" }}</div>
        </div>

        <div class="cart__price cart__price_discount">
          <div class="cart__price-description">Discount:</div>
          <div class="cart__price-value">€0.00</div>
        </div>

        <div class="cart__price cart__price_total">
          <div class="cart__price-description">Total:</div>
          <div class="cart__price-value">
            {{ totalPrice | currency : "EUR" }}
          </div>
        </div>

        <a [routerLink]="'/order'" class="cart__link">
          <div class="cart__checkout">Continue to checkout</div>
        </a
        >
      </div>
    </div>
  </div>
</div>
